
#myName{
  text-align: center;
}

#smallDesc{

  text-align: center;
  text-decoration-line: underline;
  color:rgb(90, 101, 124);
  font-size:medium;
}

#icons{
  text-align: center;

}

#aboutMe{
  text-align: center;
  
}


.logo{

  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 20px;
}

li.project {
    display: inline-block;
    width: 30%;
    margin-left: 12px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    text-align:center;
    margin-right: 1%;


  }
  

  div.container {
    text-align:center;
    text-align: center;
    padding: 5px 20px;
    
  }

img {width: 100%}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  padding: 5px;
  text-align: left;
}



